/*
    font-family: 'Noto Sans KR', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}
header {
    width: 1280px;
    margin: 0 auto;
}
header .header-notice {
    text-align: center;
    height: 25px;
    line-height: 25px;
}
header .header-form {
    margin-top: 5px;
    display: block;
}
