/*
    font-family: 'Noto Sans KR', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}
header {
    width: 1280px;
    margin: 0 auto;
}
/* header .header-notice {
    height: 35px;
    position: relative;
}
header .header-form {
    margin-top: 2px;
    margin-left: 2px;
    display: block;
    position: absolute;
}
header .notice-text {
    line-height: 35px;
} */
/* 폼 태그 css */
